<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Page</title>
</head>
<body>
    
    <h2>The number is
        <% if (isValid) { %>
            Verified and its service provider is<%=carrier%>
         <% } else {%>
            Wrong
        <%} %>
    </h2> 
</body>
</html>